{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'album.css' %}"/>
{% endblock %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
                {% for game in object_list %}
                    <div class="col-sm-3">
                        <div class="container item">
                            <img src="{{ game.boxart.url }}" class="image img-thumbnail img-fluid">
                            <a href="{% url 'gallery:add' game.id %}">
                                <i class="fa-solid fa-circle-plus fa-4x"></i>
                            </a>
                            <!-- <div class="middle">
                                <div class="text">{{ game.name }}</div>
                            </div> -->
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>
{% endblock %}